<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
      <link rel="icon" href="favicon.ico" type="image/x-icon" />
      <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/pawww.png') }}">
      <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/pawww.png') }}">
      <title>Paw donate</title>
 
</head>
<body>
    <div style="text-align: center"><image src="{{ url_for('static', filename='images/Thanks.jpg') }}" alt="Thank you so much"></div>
        <script>
            setTimeout(function() {
                window.location.href = "{{ url_for('home') }}";
            }, 1500);  
        </script>
</body>
</html>

 
